<nav class="row align-items-center">
    <h1>ShareSpace</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/users/new">Create a user</a></li>
    </ul>

</nav>